/.idea
/.vscode
/application/http
/application/lib
/application/command
/application/common/controller
/application/common/validate
/application/.htaccess
/config
/public
/route
/thinkphp
/vendor
/runtime
*.log
.env
.DS_Store
think.php


